<%- include("./partials/top") %>
<h1 class="tac">Sign Up</h1>
<div class="formcont">
  <form action="/register" method="Post">
    <div class="form-group">
      <input class="form-control" type="text" name="username" placeholder="username">
    </div>
    <div class="form-group">
      <input class="form-control" type="password" name="password" placeholder="password">
    </div>
    <div class="form-group">
      <input class="form-control" type="text" name="avatar" placeholder="avatar image url">
    </div>
    <div class="form-group">
      <input class="form-control" type="password" name="adminCode" placeholder="admin code (leave blank if not admin)">
    </div>
    <div class="form-group">
      <button class="btn btn-lg btn-primary btn-block">Sign Up</button>
    </div>
    <p class="tac">Already have an account? <a href="/login">Log in</a></p>
  </form>
  <a href="/campsites">Go back</a>
</div>

<%- include("./partials/bot") %>