<%- include("./partials/top") %>
<h1 class="tac">Sign Up</h1>
<div class="formcont">
  <form action="/register" method="Post">
    <label for="username">Username</label>
    <div class="form-group">
      <input id="username" class="form-control" type="text" name="username" placeholder="username">
    </div>
    <label for="password">Password</label>
    <div class="form-group">
      <input id="password" class="form-control" type="password" name="password" placeholder="password">
    </div>
    <label for="avatar">Profile picture</label>
    <div class="form-group">
      <input id="avatar" class="form-control" type="text" name="avatar" placeholder="avatar image url">
    </div>
    <label for="adminCode">Admin Code</label>
    <div class="form-group">
      <input id="adminCode" class="form-control" type="password" name="adminCode" placeholder="leave blank if not authorized">
    </div>
    <div class="form-group">
      <button class="btn btn-lg btn-primary btn-block">Sign Up</button>
    </div>
    <p class="tac">Already have an account? <a href="/login">Log in</a></p>
  </form>
  <a href="/campsites">Go back</a>
</div>

<%- include("./partials/bot") %>