/* New campsite page*/
.formcont{
    width: 300px;
    margin: 0 auto;
}
.newH1{
    text-align: center;
    margin-bottom: 25px;
}
#cimg{
  width:100%;
}
.flexit{
  display: flex;
  flex-wrap: wrap;
}
.thumbnail{
  padding:0;
}

div{
  word-wrap: break-word;
}
.tac{
  text-align: center;
}
