/* New campsite page*/
.formcont{
    width: 300px;
    margin: 0 auto;
}
.newH1{
    text-align: center;
    margin-bottom: 25px;
}
#cimg{
  width:100%;
}
.flexit{
  display: flex;
  flex-wrap: wrap;
}
.thumbnail{
  padding:0;
}

div{
  word-wrap: break-word;
}
.tac{
  text-align: center;
}
.img-circle{
  width: 20%;
  height: 20%;
  padding: 0;
}
.avatar{
  width: 30px;
  padding: 0;
}
.glyphicon-cog{
  font-size: 20px;
}
.center{
  
}
.center div{
  margin: 10% 0;
}